# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: this is the something we count it may be int float

Strings: it is set of the characters

Lists: set of different value which stored and can be replace easily by some another number

Tuples: same as list but we can not change the value once we assigned

Dictionaries: it is the kay value pair combination.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [11]:
(25*2)+(50/2)+(4**2)+(25.25-16)

100.25

34.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [13]:
print(4*(6+5))#44
print(4*6+5) #29
print(4+6*5)#34

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> 
Float

What would you use to find a numberâ€™s square root, as well as its square?

In [15]:
# Square root: 
300**0.5

17.320508075688775

In [14]:
# Square:
20**2

400

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [16]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [21]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [22]:
s ='hello'
# Print out the 'o'

# Method 1:
s[-1]

'o'

In [23]:
# Method 2:
s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [24]:
# Method 1:
l=[0,0,0]
l

[0, 0, 0]

In [28]:
# Method 2:
a,b,c=0,0,0
l1=[a,b,c]
l1

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [29]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]="good Bye"
list3

[1, 2, [3, 4, 'good Bye']]

Sort the list below:

In [32]:
list4 = [5,3,4,6,1]

list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [33]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [35]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [40]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [48]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
No. i can not because it store the key value base pair irrespective the order

## Tuples

What is the major difference between tuples and lists?<br><br>
tuple is immutable we can not change the value inside the tuple once assigned
unlike the list we grab that value and reassigned it

How do you create a tuple?<br><br>
assigining variable inside the bracket

## Sets

What is unique about a set?<br><br>
it contain unique value it won't allowd repetation inside it

Use a set to find the unique values of the list below:

In [49]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [50]:
# Answer before running cell
2 > 3 #False

False

In [51]:
# Answer before running cell
3 <= 2#False

False

In [52]:
# Answer before running cell
3 == 2.0 #false

False

In [53]:
# Answer before running cell
3.0 == 3#true

True

In [54]:
# Answer before running cell
4**0.5 != 2#false

False

Final Question: What is the boolean output of the cell block below?

In [55]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']#3>=4 false

False

## Great Job on your first assessment!